.card-stack {
  position: relative;
  padding: 0;
  margin: 0 auto;
  perspective: 1000px;
  perspective-origin: 50% -50%;
}

.card-stack-item {
  position: absolute;
  height: inherit;
  width: inherit;
}
