@import 'ember-paper';

$color-light-blue: rgb(173, 216, 230);
$color-blue: rgb(30, 144, 255);
$color-white: rgb(255, 255, 255);

$body-background-color: $color-light-blue;
$box-title-background-color: $color-blue;
$box-title-color: $color-white;
$box-background-color: $color-white;

* {
  user-select: none;
}

html,
body {
  background-color: $body-background-color;
}

body {
  height: auto;
  overflow-x: hidden;
}

main {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
}

main > * {
  width: 100%;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

h2 {
  margin-top: 50px;
}

.hljs {
  font-family: 'Roboto Mono', monospace;
  user-select: text;
  * {
    user-select: text;
  }
}

.card-stack--default {
  height: 60vh;
  margin-bottom: 50px;
}

.card-stack-item__inner {
  display: flex;
  flex-flow: column;
  height: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.navigator-button {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  outline: none !important;
  cursor: pointer;
}

.box > h3 {
  margin: 0;
  padding: 20px;
  background-color: $box-title-background-color;
  color: $box-title-color;
}

.box > h3 md-icon:last-child {
  float: right;
}

.box > h3 + * {
  margin-top: 0;
  background-color: $box-background-color;
}

.fork-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  height: auto;
  max-width: 100px;
}

.fork-button img {
  width: 100%;
  height: auto;
}

table {
  width: 100%;
  user-select: none;
  display: block;
  overflow-x: scroll;
}
table > tr > * {
  padding: 10px;
  text-align: left;

  &:last-child {
    width: 100%;
    padding-right: 20px;
    text-align: right
  }
}

.card-stack-item__inner {
  text-align: center;
}

@media (min-width: 768px) {
  main {
    width: 60vw;
  }

  .github-fork-button {
    max-width: 110px;
  }
}

@media (min-width: 992px) {
  main {
    width: 60vw;
  }

  .github-fork-button {
    max-width: 130px;
  }
}
