* {
  font-family: Roboto;
}

h1 {
  text-align: center;
  margin-bottom: 60px;
}

.card-stack--default {
  width: 500px;
  height: 300px;
}

.card-stack-item__inner {
  display: flex;

  flex-flow: column;
  height: inherit;
  width: inherit;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.navigator-button {
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  outline: none !important;
  cursor: pointer;
}