{{#card-stack
  class="card-stack--default"
  items=items
  currentItemIndex=currentItemIndex
  visibleItemAmount=visibleItemAmount
  as |context|
}}
  <div
    class="card-stack-item__inner"
    style="background-color:{{context.item.color}}"
  >
    Card {{context.item.value}}
    {{#if context.isActive}}
      This is the active card
    {{/if}}
    <button
      class="navigator-button"
      onclick={{action "next"}}
    >
      Next
    </button>
  </div>
{{/card-stack}}
