<h1 id="title">Ember Card Stacks</h1>

{{outlet}}

{{#card-stack
  class="card-stack--default"
  items=items
  visibleItemAmount=visibleItemAmount
  currentItemIndex=currentItemIndex
  as |context|
}}
  <div
    class="card-stack-item__inner"
    style="background-color:{{context.item.color}}"
  >
    Card {{context.item.value}}
    {{#unless (eq context.item items.lastObject)}}
      <button
        class="navigator-button"
        onclick={{action "next"}}
      >
        Next
      </button>
    {{/unless}}
  </div>
{{/card-stack}}
