<h1 id="title">Ember Card Stacks</h1>

{{outlet}}

{{#card-stack
  items=items
  visibleItemAmount=visibleItemAmount
  currentItemIndex=currentItemIndex
  as |stack|
}}
  {{#each stack.visibleItems as |visibleItem index|}}
    {{#stack.card
      index=index
      isLast=(eq visibleItem stack.visibleItems.lastObject)
      isActive=(eq visibleItem stack.currentItem)
    }}
      {{visibleItem.value}}
    {{/stack.card}}
  {{/each}}
{{/card-stack}}


<button onclick={{action "next"}}>Next</button>
